<div class="login_top">

  <h1>ãƒ­ã‚°ã‚¤ãƒ³</h1>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

    <%= f.label :ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ %>
    <%= f.email_field :email %>

    <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ %>
    <%= f.password_field :password %>

    <%= f.submit "ðŸŒŸãƒ­ã‚°ã‚¤ãƒ³ã™ã‚‹ðŸŒŸ" %>
  <% end %>

</div>
