<%= form_with(model: @task, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('view.errors') %></h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_title">
    <%= form.label :title, t('view.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="task_title">
    <%= form.label :content, t('view.content') %>
    <%= form.text_field :content %>
  </div>

  <div class="task_title">
    <%= form.label :limit, t('view.limit') %>
    <%= form.text_field :limit %>
  </div>

  <div class="task_title">
    <%= form.label :status, t('view.status') %>
    <%= form.select :status, [t('view.not_started_yet'), t('view.embarking'), t('view.done')] %>
  </div>

  <div class="task_title">
    <%= form.label :priority, t('view.priority') %>
    <%= form.select :priority, [t('view.high'), t('view.middle'), t('view.low')] %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to t('view.top'), tasks_path %>
