<h3><%= t('view.content_confirmation_request') %></h3>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :limit %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <% @task.label_ids.each do |id| %>
  <%= form.hidden_field :label_ids, multiple: true, value: id %>
<% end %>

  <p><%= t('view.title') %>:<%= @task.title %></p>
  <p><%= t('view.content') %>:<%= @task.content %></p>
  <p><%= t('view.limit') %>:<%= @task.limit %></p>
  <p><%= t('view.status') %>:<%= @task.status %></p>
  <p><%= t('view.priority') %>:<%= @task.priority %></p>
  <% Label.where(id: params[:task][:label_ids]).each do |label| %>
        <p><%= label.title %></p>
  <% end %>
  <%= form.submit t('view.register') %>

  <%= form.submit t('view.return'), name: 'back' %>

<% end %>
