<h3>登録するタスク内容を確認してください。</h3>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :limit %>

  <p><%= t('view.title') %>:<%= @task.title %></p>
  <p><%= t('view.content') %>:<%= @task.content %></p>
  <p><%= t('view.limit') %>:<%= @task.limit %></p>
  <%= form.submit t('view.register') %>

  <%= form.submit t('view.return'), name: 'back' %>

<% end %>
