<h3>登録するタスク内容を確認してください。</h3>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :limit %>

  <p>タイトル:<%= @task.title %></p>
  <p>内容:<%= @task.content %></p>
  <p>終了期限:<%= @task.limit %></p>
  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name: 'back' %>

<% end %>
