<h1>タスク一覧</h1>

<p><%= notice %></p>

<%= link_to t('view.post'), new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>

<table>
  <tr>
    <th><%= t('view.title') %></th>
    <th><%= t('view.content') %></th>
    <th><%= t('view.limit') %></th>
  </tr>

<div>
<% @task.each do |task| %>
  <tr>
    <td class="task_list"><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.limit %></td>

    <td><%= link_to t('view.detailed_confirmation'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete ,data: { confirm: t('view.confirmation_of_deletion') } %></td>
  </tr>
</div>
<% end %>
</table>
