<h1><%= t('view.content_detail_screen')%></h1>
<p><%= t('view.title') %>: <%= @task.title %></p>
<p><%= t('view.content') %>: <%= @task.content %></p>
<p><%= t('view.limit') %>: <%= @task.limit %></p>
<p><%= t('view.status') %>: <%= @task.status %></p>
<p><%= t('view.priority') %>: <%= @task.priority %></p>

 <% @task.task_labels.each do |task_label| %>
<p><%= t('view.label') %>: <%= task_label.label.title %><br></p>
<% end %>
