<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <p id="top_icon">タスクマネジメント</p>
    <% if logged_in? %>
      <ul class="top_ul">
        <li id="li_top"><%= link_to "プロフィール", user_path(current_user.id) %></li>
        <li id="li_top"><%= link_to '投稿一覧へ', tasks_path %></li>
        <li id="li_top"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
      </ul>
    <% else %>
      <ul class="top_ul">
        <li id="li_top"><%= link_to "新規アカウント登録", new_user_path %></li>
        <li id="li_top"><%= link_to "ログイン", new_session_path %></li>
      </ul>
    <% end %>
  </header>

  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>

  <footer>
      <p>運営会社I・S・O株式会社</p>
      <p>© 2019 Copyright DIVE INTO CODE Corp.</p>
  </footer>


</html>
